/*                  *** title bar ***               */
.title-bar{
    border: dashed;
    padding: 0em;
    overflow: hidden;
    position: relative;
}
#title{
    position: absolute;
    top: 1em;
    text-align: center;
    width: 100%;
    text-decoration: dotted;
    letter-spacing: 0.2em;
    font-size: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 5px 5px 10px darkblue, 0px 10px 30px purple;
}
#sub-description{
    position: absolute;
    top: 17em;
    left: 15em;
    color: rgb(241, 225, 153);
    text-shadow: 0px 2px 1px darkblue, 2px 0px 1px darkblue, -2px 0px 1px darkblue, 0px -2px 1px darkblue;
}

/*                  *** container for whole body ***                */
#super-container{
    border: dashed;
    border-color: mediumaquamarine;
    padding: 0em;
}

/*                  *** input ***                   */
.container{
    border: dashed;
    border-color: blue;
}

#weather-icons-toggle{
    margin: 0em;
    margin-left: 1.5vw;
    padding: 0em;
    width: 34vw;
}
#weather-icons-toggle .input-group .form-check-inline{
    width: 8vw;
}
#input-pane{
    border: dashed;
    border-color: red;
    margin-top: 7vw;
    width: 90vw;
    margin-left: 5vw;
    background-color: rgb(39, 114, 226);
    border-radius: 3em 0em;
}
#row1, #row2{
    margin-left: 1vw;
}
#row1{
    margin-top: 2vw;
}
#row2{
    margin-top: 3vw;
}
.input-label{
    margin: auto 0em;
    margin-right: 1em;
    font-size: 1em;
    border-right: solid gray;
    padding-bottom: 0.3vw;
    border-width: 0.1em;
    padding-right: 1em;
}
#hours-input-label .form-control{
    width: 2em;
}
input[disabled='true']{
    border: solid rgb(110, 110, 70);
}
.btn{
    background-color: rgb(153, 139, 58);
    color: black;
}
.btn-success{
    background-color: rgb(66, 185, 36);
    color: white;
    margin-left: 0.3vw;
}
.btn:hover{
    background-color: red;
}
.form-check-inline{
    border: solid dimgrey;
    background-color: dimgray;
    border-radius: 0.3em;
    padding: 0.2em;
    color: white;
}
.form-check-inline:hover{
    background-color: red;
    border-color: red;
}

/*                  *** map ***                 */
#background-map-id{
    width: 1410px;
    height: 705px;
    margin-left: 5vw;
    margin-top: 3vw;
    border: ridge;
    border-radius: 4em;
    border-width: 1em;
    border-color: maroon;
}
.maps{
    display:none;
}
/*canvas{
    position: absolute;
    border: solid orange;
    margin-left: 5vw;
    margin-top: 3vw;
}*/
body{
    background-image: linear-gradient(to right, rgb(57, 50, 121), rgb(96, 86, 184), rgb(57, 50, 121));
}


