/*                      ****** tile bar *******   */
.title-bar{
    border: dashed;
    padding: 0em;
    overflow: hidden;
}
#title{
    position: absolute;
    top: 1em;
    text-align: center;
    width: 100%;
    text-decoration: dotted;
    letter-spacing: 0.2em;
    font-size: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 5px 5px 10px darkblue, 0px 10px 30px purple;
}
#sub-description{
    position: absolute;
    top: 20em;
    left: 20em;
    color: yellow;
    text-shadow: 2px 1px 1px darkblue;
}


#super-container{
    border: dashed;
    border-color: mediumaquamarine;
    padding: 0em;
}
#row1, #row2{
    margin-left: 1vw;
}
#row1{
    margin-top: 10vw;
}
#row2{
    margin-top: 3vw;
}
.input-label{
    margin-right: 2em;
    font-size: 1.4em;
    border-right: solid gray;
    border-width: 0.1em;
    padding-right: 1em;
}
.btn{
    background-color: rgb(153, 139, 58);
    color: black;
}
.btn:hover{
    background-color: red;
}


#background-map-id{
    width: 1400px;
    height: 700px;
    margin-left: 5vw;
    margin-top: 3vw;
    border: ridge;
    border-radius: 4em;
    border-width: 1em;
    border-color: maroon;
}

.maps{
    display:none;
}
/*canvas{
    position: absolute;
    border: solid orange;
    margin-left: 5vw;
    margin-top: 3vw;
}*/
body{
    background-image: linear-gradient(to right, rgb(57, 50, 121), rgb(96, 86, 184), rgb(57, 50, 121));
}
.container .row{
    border: dashed;
    border-color: orangered;
}
#input-background{
    position: absolute;
    border: dashed;
    border-color: paleturquoise;
    top: 65em;
    height: 12em;
    width: 75vw;
    left: 12vw;
    background-color: rgb(39, 114, 226);
    border-radius: 3em 0em;
}
